<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
        <ion-title>Contacto</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card mode="ios">
        <ion-card-header color="warning">
            <ion-img src="/assets/LagerAle.png"></ion-img>
        </ion-card-header>
        <br>
        <ion-card-content>
            <ion-item> Nombre: Francisco Daniel Garcia Arredondo.</ion-item>
            <ion-item> Registro: 16100101</ion-item>
            <ion-item> Carrera: Dessarrollo de software.</ion-item>
            <ion-item> Tel: 3316100101</ion-item>
            <ion-item> Email: a16100101@ceti.mx</ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>