<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
        <ion-title>Acerca de </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card mode="ios">
        <ion-card-header color="warning">
            <ion-img src="/assets/LagerAle.png"></ion-img>
        </ion-card-header>
        <br>
        <ion-card-content>
            El proyecto nace de un gusto, en este caso la cerveza. El proyecto consiste en una aplicación la cual pueda orientar a usuarios que desean consumir una cerveza, de diferente estilo de cerveza, características o desean probar algo nuevo o diferente. Los
            usuarios que hayan probado una cerveza y deseen compartir su opinión con respecto a ella lo podrán realizar en la aplicación, esto puede servir a muchos usuarios para la elección de su próxima cerveza. La idea del proyecto viene en base a
            una app la cual se llama “vivino”, la cual es para tanto fanáticos como consumidores ocasionales del vino. La aplicación almacena información de vinos, en la cual se pueden realizar comentarios o calificar el vino de la preferencia del usuario
            y permite que los usuarios puedan compartir fotos. Por ende se buscó la manera de poder tener una aplicación como “vivino” con respecto a la cerveza y sobre todo agregándole más características interesantes como: en este caso un alcoholímetro
            virtual, el cual es teórico y permite indicarle a los usuarios el nivel de porcentaje de alcohol en la sangre por mililitro sobre aire expirado, esta función puede ser de mucha ayuda para los usuarios los cuales salen de fiesta o van a una
            reunión y se percatan que no están en las condiciones óptimas para manejar. Este alcoholímetro virtual está destinado principalmente a los usuarios del estado de Jalisco, ya que, en Jalisco, todos los días, entre las 9 de la noche y las 5
            de la mañana, la Policía Vial implementa el operativo “Salvando Vidas” en seis puntos diferentes de la ciudad. El propósito es que el “filtro” que se coloca en las calles y avenidas detecte a automovilistas que han ingerido bebidas embriagantes,
            como una medida de prevención y reducir accidentes. Según el artículo “A diario, aplican 13 multas diarias y 24 conductores son enviados al CURVA, por exceder límites de alcohol” del reportero Ignacio Pérez Vega entre 2012 y 2018, el programa
            “Salvando vidas” redujo un 73% la cifra de accidentes viales con presencia de alcohol. Este alcoholímetro virtual, el cual es teórico, es de ayuda para los usuarios no solo para evitar una multa de nivel económico, sino también para intentar
            reducir el número de personas las cuales manejan en estado de ebriedad.
        </ion-card-content>
    </ion-card>
</ion-content>