<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-menu-button menu="first"></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-start">Administración de usuarios</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <ion-item-divider>
        <h2 style="width: 100%; text-align: center;">Usuarios cervecería.</h2>
    </ion-item-divider>
    <ng-container *ngFor="let usuario of usuarios">
        <ion-item *ngIf="usuario?.cerv">
            <ion-avatar slot="start">
                <img [src]="usuario.photoURL">
            </ion-avatar>
            <ion-icon color="danger" slot="end" name="trash" (click)="deleteCerveceria(usuario)"></ion-icon>
            <ion-label>
                <h3>{{usuario.displayName}}</h3>
                <p>{{usuario.descripcion}}</p>
            </ion-label>
        </ion-item>
    </ng-container>

    <br>
    <ion-item-divider>
        <h2 style="width: 100%; text-align: center;">Usuarios avanzados.</h2>
    </ion-item-divider>
    <ng-container *ngFor="let usuario of usuarios">
        <ion-item *ngIf="usuario?.avanzado">
            <ion-avatar slot="start">
                <img [src]="usuario.photoURL">
            </ion-avatar>
            <ion-icon color="warning" slot="end" name="information-circle" (click)="dataUser(usuario)"></ion-icon>
            <ion-label>
                <h3>{{usuario.displayName}}</h3>
                <p>{{usuario.descripcion}}</p>
            </ion-label>
        </ion-item>
    </ng-container>

    <br>
    <ion-item-divider>
        <h2 style="width: 100%; text-align: center;">Usuarios estándar.</h2>
    </ion-item-divider>
    <ng-container *ngFor="let usuario of usuarios">
        <ion-item *ngIf="!usuario.cerv && !usuario.avanzado && !usuario.admin">
            <ion-avatar slot="start">
                <img [src]="usuario.photoURL">
            </ion-avatar>
            <ion-icon color="warning" slot="end" name="information-circle" (click)="dataUser(usuario)"></ion-icon>
            <ion-label>
                <h3>{{usuario.displayName}}</h3>
                <p>{{usuario.descripcion}}</p>
            </ion-label>
        </ion-item>
    </ng-container>
</ion-content>