<ion-header>
    <ion-toolbar color="warning">
        <ion-title class="ion-text-center">Iniciar Sesion</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <br>
    <br>
    <br>
    <img class="lagerale" src="assets/LagerAle.png">
    <br>
    <br>
    <ion-item>
        <ion-label position="floating">Correo electronico</ion-label>
        <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    <br>
    <ion-button color="warning" expand="block" (click)="onSubmitLogin()">Entrar</ion-button>
    <br>
    <ion-button color="warning" expand="block" (click)="signinAnonymously()">Invitado</ion-button>
    <br>
    <p class="ion-text-center" routerLink="/register">Crear cuenta</p>
    <br>
    <div>
        <p class="ion-text-center" routerLink="/reset-password">Olvide mi contraseña</p>
    </div>

</ion-content>