<div>
    <form [formGroup]="newPostForm" (ngSubmit)="addNewPost(newPostForm.value)">

        <ion-label hidden="true">UID:</ion-label>
        <ion-item hidden="true">
            <ion-input disabled="true" formControlName="uid" [value]="uid"></ion-input>
        </ion-item>

        <ion-label>Cervecería:</ion-label>
        <ion-item>
            <ion-input disabled="true" formControlName="cerveceria" [value]="User"></ion-input>
        </ion-item>

        <ion-label>Nombre:</ion-label>
        <ion-item>
            <ion-input placeholder="Nombre de la cerveza" formControlName="nombre"></ion-input>
        </ion-item>

        <ion-label>Descripcion:</ion-label>
        <ion-item>
            <ion-textarea placeholder="Descripcion de la cerveza" formControlName="descripcion"></ion-textarea>
        </ion-item>

        <ion-label>Elaboración:</ion-label>
        <ion-item>
            <ion-textarea placeholder="Elaboración de la cerveza" formControlName="elaboracion"></ion-textarea>
        </ion-item>

        <ion-label>Fermentación:</ion-label>
        <ion-item>
            <select formControlName="fermentacion">
                <option value="Fermentación Alta">Fermentación Alta</option>
                <option value="Fermentación Baja">Fermentación Baja</option>
                <option value="Fermentación Espontánea">Fermentación Espontánea</option>
        </select>
        </ion-item>

        <ion-label>Granos:</ion-label>
        <ion-item>
            <ion-input placeholder="Granos de la cerveza" formControlName="granos"></ion-input>
        </ion-item>

        <ion-label>Tipo:</ion-label>
        <ion-item>
            <select formControlName="tipo">
                <option value="Industrial">Industrial</option>
                <option value="Artesanal">Artesanal</option>
        </select>
        </ion-item>

        <ion-label>Estilo:</ion-label>
        <ion-item>
            <select formControlName="estilo">
                <option value="Amber Ale">Amber Ale</option>
                <option value="Lager">Lager Clara</option>
                <option value="IPA">IPA</option>
                <option value="Pilsner">Pilsner</option>
                <option value="Porter">Porter</option>
                <option value="Sin alcohol">Sin alcohol</option>
                <option value="Stout">Stout</option>
                <option value="Trigo">Trigo</option>
                <option value="Viena">Viena</option>
        </select>
        </ion-item>

        <ion-label>País:</ion-label>
        <ion-item>
            <select formControlName="pais">
                <option value="Alemania">Alemania</option>
                <option value="Bélgica">Bélgica</option>
                <option value="Estados Unidos">Estados Unidos</option>
                <option value="Irlanda">Irlanda</option>
                <option value="México">México</option>
        </select>
        </ion-item>

        <ion-label>Porcentaje de alcohol:</ion-label>
        <ion-item>
            <ion-input type="tel" pattern="[0-9]*" maxlength="3" placeholder="% de alcohol en la cerveza" formControlName="porcentaje"></ion-input>%
        </ion-item>

        <ion-label>Volumen:</ion-label>
        <ion-item>
            <ion-input type="tel" pattern="[0-9]*" maxlength="3" placeholder="Volumen de la cerveza" formControlName="volumen"></ion-input>ml.
        </ion-item>

        <ion-label>Precio:</ion-label>
        <ion-item>
            <ion-input type="tel" pattern="[0-9]*" maxlength="3" placeholder="Precio recomendado" formControlName="precio"></ion-input>$
        </ion-item>

        <ion-label>Imagen (obligatoria)</ion-label>
        <ion-item>
            <ion-input expand="block" type="file" formControlName="img" (change)="handleImage($event)"></ion-input>
        </ion-item>

        <div>
            <ng-container *ngIf="newPostForm.value.nombre !== '' && newPostForm.value.descripcion !== '' && newPostForm.value.tipo !== '' && newPostForm.value.estilo !== '' && newPostForm.value.pais !== '' && newPostForm.value.porcentaje !== '' && newPostForm.value.volumen !== '' && newPostForm.value.precio !== '' && newPostForm.value.img !== ''; else template">
                <ion-button expand="block" color="warning" type="submit" mat-dialog-close="true">GUARDAR</ion-button>
            </ng-container>
            <ng-template #template>
                <ion-label color="danger">No se permiten campos vacios en el formulario.</ion-label>
            </ng-template>
        </div>
    </form>
</div>