<ion-header>
    <ion-toolbar color="warning">
        <ion-back-button slot="start" defaultHref="/"></ion-back-button>
        <ion-title class="ion-text-center">Cambio de contraseña</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <br>
    <br>
    <img class="lagerale" src="assets/LagerAle.png">
    <br>
    <br>
    <form class="ion-padding-top" (submit)="sendLinkReset()">

        <div class="ion-text-center">
            <h2>Ingrese el correo de la cuenta la cual desea recuperar o cambiar la contraseña.</h2>
        </div>

        <ion-item>
            <ion-input placeHolder="Correo electrónico" type="text" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>
        <br>
        <ion-button color="warning" expand="block" (click)="sendLinkReset()">Recuperar</ion-button>

    </form>

</ion-content>